<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .p1 {
            font-weight: 900 ;
            text-align : center ;
            font-size: 300%;
         }


        .aligncenter {
            text-align: center;
        }
        </style>
</head>

<body style="background-color:#000000;">
   <p class="p1" style="color:white;" text-align=" center"> OOPS ! </p>

    <p class="aligncenter">
        <img src="https://images.freeimages.com/images/premium/previews/3397/33979180-error-404.jpg" alt="centered image" />
    </p>
</body>
</html>