<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<style>
      .p1 {
            font-weight: 900 ;
            font-size: 200%;
         }


        .aligncenter {
            text-align: center;
        }

</style>
</head>


 <body style="background-color:#000000;">
<p class="p1" style="color:green;" > The image is:{{ IMAGE_FILE_NAME }}</h1>
<p class="p1" style="color:green;" >The function is :{{ FUNC_NAME }}</h1>

<p class="p1" style="color:red;" >The value is: {{ value }} </p>

<img src ={{ url }}  width="350" alt="centered image" text-align="center" height="300"></body>






 </html>