<!DOCTYPE html>
<html lang="en">

    <head>
        <style>
        .p1 {
            font-weight: 900 ;
            text-align : center ;
            font-size: 200%;
         }


        .aligncenter {
            text-align: center;
        }
        </style>
    </head>


   <body style="background-color:#000000;">
   <p class="p1" style="color:white;" text-align=" center">  We Are SORRY :( </p>
            <p class="p1" style="color:white;" text-align=" center">        The function you choose doesn't exist.</p>
    <br>
    <p class="aligncenter">
        <img src="https://images.unsplash.com/photo-1506702315536-dd8b83e2dcf9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="centered image" width="500" height="400"   />
    </p>

</html>