<!DOCTYPE html>
<html  lang="en" dir="ltr">    <head>
        <style>
        .p1 {
            font-weight: 900 ;
            text-align : center ;
            font-size: 200%;
         }


        .aligncenter {
            text-align: center;
        }
        </style>
    </head>



<body style="background-color:#000000;">
   <p class="p1" style="color:white;" text-align=" center"> OK , THATS FINE !! </p>

    <p class="aligncenter">
            <img src="https://th.bing.com/th/id/R.6e7e21804a2bdf86f9149b290a964d69?rik=nrPyqNyKTnt4aw&pid=ImgRaw&r=0" alt="centered image" width="500" height="400"  />

    </p>
</body>


</html>